body {
    margin: 0px;
    background-color:#e9ebee;
    font-family: arial;
  }
  
  .header {
    background-color: #3b5998;
    padding: 7px 0px 3px 13%;
  }
  
  .header *{
    display:inline-block;
  }
  
  p {
    margin: 0px;
  }
  
  .search {
    background-color: white;
    width: 450px;
    height: 24px;
    position: relative;
    top: -4px;
    border-radius: 5px;
    outline : none;
  }
  

  
  #inputText {
    width: 300px;
    border-radius: 5px;
    height: 22px;
    position: relative;
    top: 0px;
    padding-left: 5px;
    font-size: 14px;
    border: 0px;
    outline : none
  }
  
  .search-icon {
    background-color: #f6f7f9;
    height: 100%;
    width: 50px;
    text-align: center;
    float: right;
  }
  .search-icon img {
    height: 15px;
    width:15px;
    margin: 10% 0;
  }
  
  .right-side {
    position: relative;
    left: 15%;
  }
  
  .leftofright {
    position: relative;
    top: -2px;
  }

  .leftofright p {
    color: white;
    font-size: 12px;
    position: relative;
    top: -3px;
    font-weight: 700;
    padding: 5px;
  }
  
  .leftofright  p:nth-child(3){
    color: black;
    opacity: 0.3;
  }
  
  .leftofright img {
    position: relative;
    top: 5px;
  }
  