.styleA {
    margin-top :10px;
} 
.style1 {
    background-color : white;
    margin-top : 10px;
    border-radius : 5px;
    border: none
}
.style2 {
    background-color : white;
    width : '622px';
    height : 70px;
    border-radius:10px;
    margin-top : 10px
}
.newpost {
    background-color : white;
    width : '622px';
    height : 70px;
    border-radius:10px;
    margin-top : 10px;
    border-radius : 5px;
    border: none
}
.style3 {

  font-size : 20px;
  margin-left : 50px
}
.style4 {
    
    font-size : 20px
    
  }
  .style5 {
    background-color : none;
    border-radius : 5px;
    margin-left : 20px;
    margin-top : 10px
  }
  .style6 {
    font-size : 20px;
    margin-left : 50px
  }
  .style7 {
    font-size : 20px;
    margin-left : 50px
  }
  .style8 {
    margin-top : 20px;
    margin-left : 20px
}
.style9{
    width : 615px;
    border-radius : 5px
}
.style10{
    margin-top : 10px
}
.style11 {
    border-radius : 50%;
    width: 25px;
    height : 25px
}