a {
    margin-left: 10px;
    margin-top: 10px;
    font-size:12px;
    line-height: -16px;
    font-weight: bold;
    vertical-align: middle;
    line-height : 13px;
    font-family: inherit;
}

button {
    background-color: #f5f6f7;
    border-color: #ccd0d5;
    color: #4b4f56;
    font-size:15px;
}
hr {
    margin-top :12px;
    margin-bottom: 12px;
}