*{
    margin: 0px;
    padding:0px;
    overflow-x: hidden;
}
#head{
    height: 80px;
    width:100%;
    background-color: rgb(228, 109, 115);
}
#head p{
    color:white;
    font-size: 120%;
}
#head a{
    text-decoration: none;
    color: white;
}
#btn{ 
    background-color: red; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
}
#btn1{
    background-color: rgb(228, 109, 115); 
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
#info{
    height:150px;
    background-color: aqua;
}
.a:hover{
    background-color: rgb(224, 223, 223);
}