#headerStyle {
    background-color : rgb(228, 109, 115);
    position: sticky;
    z-index : 1;
    top : 0;
    height: 55px;
    overflow: hidden;
}

#logo {
    text-decoration:  underline;;
    font-size: 200%;
    color : white;
    margin-left: 1.5em
}

.nav-link {
    text-decoration:  none;
    color :white;
}

.nav-link:hover {
    background-color: rgba(0,0,0,.1);
}

#signButton {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}
#info {
    background-image: url("https://aidforcancer.com/static/media/information-blurred.88c33272.jpg");
    background-size: cover;
    /* margin-left :10%; */
    /* margin-right: 10%; */
    margin-top : 5px;
    margin-bottom: 5px;
    height: 180px;
}

#info h3 {
    text-align :center;
    color : white;
    overflow: hidden;
    line-height: 110%;
    font-size: 2.92 em;
    margin : 1.94667rem 0 1.168rem;
    font-weight: 600;
    
}
#info p {
    text-align : center;
    color : white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;    
}

.vertical-menu {
  width: 100%;
  /* margin-left : 43%; */
  color : #26a69a;
}

.vertical-menu a {
  background-color: #fff;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  color : #26a69a;
  border : 0.1px solid rgb(218, 215, 215);
  font-weight : 400;
}

.vertical-menu a:hover {
  background-color: #ccc;
  text-decoration:  none;
  color : #26a69a;
}

.vertical-menu a.active {
  background-color: #26a69a;
  color: white;
  transition: .25s;
  display: block
}
.news {
    float : left;
    overflow: hidden;
    margin-left : 0px; 
}
.showall {
    text-decoration:  none;
    color : #039be5;
    float : right;
    padding-top: 15px;
}

.showall:hover {
    text-decoration: none;
    color : #039be5;
}

.newsPosts {
    background-color:rgb(229, 226, 226);
    height:120px;
    border: 1px solid grey;
    margin-bottom: 10px;
}
.newsImg {
    width:50px;
    margin-left :5px;
    margin-top:5px;
    float: left;
}

.newsLine {
    float:left;
    margin-left:80px;
    margin-top: -50px;
}
.newsHead {
    margin-top:0px;
    text-decoration: none;
    color: rgb(14, 187, 245)
}

.footer{
    height:50px;
    background-color: rgb(228, 109, 115);
    overflow: hidden;
}

.contact {
    float:left;
    margin-left: 220px;
    margin-top: 13px;
   
}

.abusebtn  {
    float:left;
    margin-left: 30px;
    margin-top: 10px;
    color : rgb(14, 187, 245);
    text-transform: none;
    height: 2.4em;
    line-height: 2.4em;
    font-size: .7em;
    padding: 0 1em;
    background-color: initial;
    border: 1.5px solid #fff;
    box-shadow: none;
    margin-left: 2em;
    font-family: Montserrat;
    border-radius:  2px;
}

.About {
    float:left;
    margin-left: 350px;
    margin-top: 13px;
}
.privacy {
    float:left;
    margin-left: 20px;
    margin-top: 13px;
   
}

.footlink{
    text-decoration: none;
    color: white;
}

.copyright {
    height:50px;
    background-color: rgb(223, 90, 97);
    color: white;
    text-align:center;
}