.news1 {
    margin-left:100px; 
    margin-right:100px;
}

.info {
    text-decoration:none;
    font-size: 120%;
    color: rgb(107, 163, 226)
}

.head {
    font-size:170%
}

.time {
    margin-top:10px;
    margin-bottom:3px;
}

.image {
    width:150px;
    float:left;
    margin-right: 20px;
}

.brief {
    font-size:15px;
    text-align:justify
}

.body {
    text-align:justify
}

.btn1{
    margin-left: 15px;
    background-color: rgb(211, 207, 207); 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 40px;
}

.comments {
    background-color:rgb(226, 223, 223);
    height: 450px;
}

.comments1 {
    padding:10px;
}