#display {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }
  
  #display td, #display th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center
  }
  
  #display tr:nth-child(even){background-color: #f2f2f2;}
  
  #display tr:hover {background-color: #ddd;}
  
  #display th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }
  